<div class="seismogramDiv" ...attributes
{{did-insert (action this.createGraph)}}
{{did-update (action this.updateGraph @seismographConfig @seisDisplayData @title) }}>
  <h5>Loading...</h5>
</div>

{{yield}}
